body {
    font-family: Arial, sans-serif;
    
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 5px;
}
.section {
    margin-bottom: 20px;
}
.edu, .exp {
    margin-left: 20px;
}
button{
    margin-left: 10px;
}
